body{
background: url(../img/288.jpg) no-repeat center center fixed;
    
}
.bg-faded {
    background-color: rgba(233, 255, 68, 0.9);
}
.text-heading{
    font-family: 'Dancing Script', cursive;
}
.text-muted {
    color: #cc3978!important;
}
    .nav-link {
    color: #bd2130!important;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #30b6cc!important;
}
 h3 {
    font-size: 2rem ;
     font-weight: bold;
     color:rgb(234, 168, 86);
}
.text-shadow {
    text-shadow: 3px 1px 5px #721c24;
}
p{
    color:
}

    
}